*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 40vw;
    height: 50vh;
    border: 1px black solid;
}

.name{
    width: 100%;
    position: relative;
    margin-top: 10px;
}

input{
    width: 100%;
}


