* {
    padding: 0%;
    margin: 0%;
}

.item {
    display: inline-block;
    padding: 10px;
    margin-left: 30px;
}

a,
li {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px;
    font-size: 16px;

    color: black;
}

header {
    display: flex;
    justify-content: end;
    padding: 20px;
    background-color: #009FBD;
}

.nav li a:hover {
    background-color: #F9E2AF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

img {
    height: 200px;
    width: 1527px;
    overflow: hidden;
}

.wd {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: Helvetica;
}

#col {
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 30px;
}

.middle_img {
    margin: 30px;
    width: 1400px;
    display: flex;
    border: 2px;
    background-color: aliceblue;
}

#middle_text_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#middle_img_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.travel_img_ID {
    height: 400px;
    width: 600px;
}

.text_style {
    font-size: 1.5em;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#get_started {
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
}

#learn_more {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}